
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

@font-face {
    font-family: 'open_sansbold';
    src: url('opensans-bold-webfont.woff2') format('woff2'),
         url('opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansbold_italic';
    src: url('opensans-bolditalic-webfont.woff2') format('woff2'),
         url('opensans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansextrabold';
    src: url('opensans-extrabold-webfont.woff2') format('woff2'),
         url('opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('opensans-extrabolditalic-webfont.woff2') format('woff2'),
         url('opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('opensans-light-webfont.woff2') format('woff2'),
         url('opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight_italic';
    src: url('opensans-lightitalic-webfont.woff2') format('woff2'),
         url('opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular-webfont.woff2') format('woff2'),
         url('opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansitalic';
    src: url('opensans-regularitalic-webfont.woff2') format('woff2'),
         url('opensans-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold';
    src: url('opensans-semibold-webfont.woff2') format('woff2'),
         url('opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('opensans-semibolditalic-webfont.woff2') format('woff2'),
         url('opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.title{
    font-family: sans-serif;
    color: white;
}

body {
    color: white;
    font-family: 'CustomFont', open_sansregular, sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size: 20pt
}

h3 {
    font-size: 20px
}

p {
    color: lightgrey;
    font-family: 'CustomFont', open_sansregular, sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size: 11pt 
}

#container {
    max-width: 500px;
    margin: auto;
}

.checkboxContainer label{
    font-size: 20pt;
}


.checkboxContainer input{
    display: none;
    margin: auto;
}

.checkboxContainer{
    display: inline-block;
    padding-left: 24px;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.checkboxContainer .checkmark{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: black;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px;
}

.checkboxContainer input:checked + .checkmark{
    background-color: #2196fc;
}

.checkboxContainer:hover .checkmark{
    background-color: grey;
}

.checkboxContainer input:checked + .checkmark:after{
    content: "<";
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
}


a {
  color: hotpink;
}




